.footer__copyright {
  color: #545454;
  max-width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .footer__copyright  {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 650px) {
  .footer__copyright  {
    font-size: 14px;
    line-height: 17px;
  }
}
