.header__close-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url(../../../images/close-button.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    transition: opacity 0.5s ease-in-out;
}

.header__close-btn :hover {
    opacity: 0.6;
  }