.form__error {
    color: #FF0000;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 34px;
    width: 358px;
  }