.form__question {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 15px 0 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .form__question {
    margin: 20px 0 0;
  }
}