.header__menu-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url(../../../images/menu-button.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  transition: opacity 0.5s ease-in-out;
}

.header__menu-btn:hover {
  opacity: 0.6;
}
