.profile__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 950px) {
  .profile__item {
    gap: 25px;
  }
}

@media screen and (max-width: 800px) {
  .profile__item {
    gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .profile__item {
    gap: 26px;
    flex-direction: column;
  }
}
