@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__heading/popup__heading.css);
@import url(./__error/popup__error.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__field/popup__field.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__input/_iserror/popup__input_iserror.css);
@import url(./__button/popup__button.css);
@import url(./__button/_disabled/popup__button_disabled.css);
@import url(./__container-card/popup__container-card.css);
@import url(./__card/popup__card.css);
@import url(./__card-name/popup__card-name.css);
@import url(./_type/popup_type_add-card.css);
@import url(./_type/popup_type_edit-profile.css);
@import url(./_type/popup_type_open-card.css);
@import url(./_type/popup_type_confirm.css);
@import url(./_type/popup_type_edit-avatar.css);
@import url(./__status-img/popup__status-img.css);
@import url(./__status-img/_type/popup__status-img_type_error.css);
@import url(./__status-img/_type/popup__status-img_type_ok.css);
@import url(./__status-text/popup__status-text.css);

.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
